

.numberFormatContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  .numberFormatWrap {
    position: relative;
    height: 70px;
    color: #6965db;
    font-family: "Helvetica Neue", sans-serif;
  }

}
